include LICENSE
include README.rst
recursive-include torn/api *.py
recursive-include torn/exception *.py
recursive-include torn/plugins *.py
recursive-include torn/structure *.gitkeep
recursive-include torn/structure *.json
recursive-include torn/structure *.py
recursive-include torn/structure *.html
